body{
    background-color: gray;
}

#content{
    display: flex;
    flex-direction: column;
}

#divInfo{
    height: 22px;
    width: 720px;
    margin: auto;
    border: solid 1px;
    text-align: center;
    font-family: orbitron;
    color: indianred;
    background-color: ivory;

    
}

.blink{
    animation: blink 1.5s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

#speaker{
  float: left;
  cursor: pointer;
}

#heart{
    float: right;

}

#level{
    float: left;
    padding-left: 10px;
}


#myCanvas{ 
    margin: auto;
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: ridge 10px;
    border-color: indianred;
  
}
